.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  width: 20% !important;
  height: 400px !important;
  padding: 15px !important;
}

.ItemContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  width: 98% !important;
  height: 375px;
}

.ItemImage {
  width: 100% !important;
}

.ItemText {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  margin-top: 5px;
  height: 125px;
  width: 98% !important;
}

.ReviewAndWatchBTN {
  display: flex;
  justify-content: space-between !important;
  height: 20px;
  width: 98%;
}

.WatchBTN {
  height: 20px !important;
  font-size: 10px !important;
}
